.gradle/
.metadata
.recommenders
.sonarlint
node_modules
RemoteSystemsTempFiles
com.ebase.eox.*/generated
com.ebase.eox.*/bin
com.ebase.eox.*/bin_test
com.ebase.eox.*/WEB-CONTENT
com.ebase.eox.*/OSGI-INF/web-resources.json
