//Angular Theme

@import 'node_modules/@angular/material/core/theming/_all-theme';
// Plus imports for other components in your app. 

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

$mat-ebase-prim: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
.ebase-theme {
    $eox-app-primary: mat-palette($mat-ebase-prim);
    $eox-app-accent:  mat-palette($mat-ebase-prim, A200, A100, A400);

    // The warn palette is optional (defaults to red).
    $eox-app-warn:    mat-palette($mat-ebase-prim);

    // Create the theme object (a Sass map containing all of the palettes).
    $eox-app-theme: mat-light-theme($eox-app-primary, $eox-app-accent, $eox-app-warn);

    // Include theme styles for core and each component used in your app.
    // Alternatively, you can import and @include the theme mixins for each component
    // that you are using.
    @include angular-material-theme($eox-app-theme); 
}