.app-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 25px 0 25px;
}

.eox-header {
    background-color: #39444C;
    padding: 30px;
}

.eox-body {
    background-color: #EBEAEC;
    padding: 30px;
}

.eox-footer {
    background-color: #EBEAEC;
    padding: 30px;
}

.eox-brick {
    background-color: #FFFFFF;
    padding: 15px;
}

#eoxHeaderLogo {
    background: none no-repeat;
    height: 30px;
    width: 94px;
    background-image: url(app/logo.png);
}